<div id="header" class="header">
    <div class="top-header">
        <div class="container">
            <div class="nav-top-links">
                <a class="first-item" href="tel:(08) 3984 7690"><i class="icon-phone"></i> (08) 3984 7690</a>                
                <a href="mailto:kinhdoanh@hoangkhang.com.vn">
                    <i class="icon-envelop"></i>kinhdoanh@hoangkhang.com.vn
                </a>
            </div>
            
            <div class="support-link">
                <a href="">Đăng nhập</a>
                <a href="">Kiểm tra đơn hàng</a>
            </div>

            <div id="user-info-top" class="user-info pull-right">
                <div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>Hướng dẩn</span></a>
                    <ul class="dropdown-menu mega_dropdown" role="menu">
                        <li><a href="">Các câu hỏi thường gặp</a></li>
                        <li><a href="">Hướng dẩn mua hàng</a></li>
                        <li><a href="">Mua sắm thông minh</a></li>
                        <li><a href="">Mua hàng đảm bảo</a></li>
                        <li><a href="">Cách thức thanh toán</a></li>
                        <li><a href="">Giao hàng toàn quốc</a></li>
                        <li><a href="">Về chúng tôi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.top-header -->
    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-3 logo">
                <%= link_to image_tag("/frontend/images/logo.png", alt: ""), naturesoft_hoangkhangstore_com.root_path %>
            </div>
            <div class="col-xs-7 col-sm-7 header-search-box">
                <form class="form-inline">
                      <div class="form-group form-category">
                        <select class="select-category">
                            <option value="">Tất cả danh mục</option>
                            <option value="">Máy tính xách tay (Laptop)</option>
                            <option value="">Máy tính để bàn (PC)</option>
                        </select>
                      </div>
                      <div class="form-group input-serach">
                        <input type="text" name="keyword" placeholder="Bạn muốn tìm gì?">
                      </div>
                      <button type="submit" class="pull-right btn-search"></button>
                </form>
            </div>
            <div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
                <a class="cart-link" href="">
                    <span class="title">Giỏ hàng</span>
                    <span class="total">50,000,000 VNĐ</span>
                    <span class="notify notify-left">2</span>
                </a>
                <div class="cart-block">
                    <div class="cart-block-content">
                        <h5 class="cart-title">2 sản phẩm trong giỏ hàng</h5>
                        <div class="cart-block-list">
                            <ul>
                                <% (0..1).each do |item| %>
                                <li class="product-info">
                                    <div class="p-left">
                                        <a href="#" class="remove_link"></a>
                                        <a href="#">
                                        <img class="img-responsive" src="/frontend/assets/data/product-100x122.jpg" alt="p10">
                                        </a>
                                    </div>
                                    <div class="p-right">
                                        <p class="p-name">Tên sản phẩm</p>
                                        <p class="p-rice">25,000,000 VNĐ</p>
                                        <p>Qty: 1</p>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="toal-cart">
                            <span>Tổng tiền</span>
                            <span class="toal-price pull-right">50,000,000 VNĐ</span>
                        </div>
                        <div class="cart-buttons">
                            <%= link_to "Đặt hàng", "", class: "btn-check-out" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- END MANIN HEADER -->
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">
                <%= position("hoangkhangstore_com::box-vertical-megamenus") %>
                <div id="main-menu" class="col-sm-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><%= link_to "XU HƯỚNG", "" %></li>
                                    <li><%= link_to "KHUYẾN MÃI", "" %></li>
                                    <li><%= link_to "BÁN CHẠY", "" %></li>
                                    <li><%= link_to "THƯƠNG HIỆU", "" %></li>
                                    <li><%= link_to "SỰ KIỆN", "" %></li>
                                    <li class="dropdown">
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">Digital</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <li class="link_container"><a href="#">Mobile</a></li>
                                                    <li class="link_container"><a href="#">Tablets</a></li>
                                                    <li class="link_container"><a href="#">Laptop</a></li>
                                                    <li class="link_container"><a href="#">Memory Cards</a></li>
                                                    <li class="link_container"><a href="#">Accessories</a></li>
                                                </ul>
                                            </li>
                                        </ul> 
                                    </li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
            <div id="user-info-opntop">
            </div>
            <!-- CART ICON ON MMENU -->
            <div id="shopping-cart-box-ontop">
                <i class="fa fa-shopping-cart"></i>
                <div class="shopping-cart-box-ontop-content"></div>
            </div>
        </div>
    </div>
</div>